#outer-dropzone {
  height: 400px;
}
  
#inner-dropzone {
  height: 460;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: auto;
  /*padding: 10px; */
  width: 800px; /* cada columna 10px */
  transition: background-color 0.3s;
}
#varsMov{
  margin: auto;
  margin-top: 2%;
  width: 800px; 
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  touch-action: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

hr {
    background-color: #17a2b8;;
}
.formOption{
  padding-left:10%;
  padding-right:10%;
  padding-top:1%;
  padding-bottom: 1%;
}
.formOption input{
  width:100%;
}
.formOption select{
  width:100%;
}
.noPadding{
  padding-top: 1%;
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontalEqual{
  display: flex;
  justify-content: space-around;
}
.vl {
  border-left: 2px solid black;
  height: 100%;
}
#vars{
  width:90%;
}
section {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #f1f4fa;
}
.wrap {
  display: flex;
  background: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.wrap:hover {
  background: linear-gradient(135deg,#6d95ec 0%,#2f57b4 100%);
  color: white;
}

.ico-wrap {
  margin: auto;
}

.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}
.vcenter {
  margin: auto;
}

.mbr-section-title3 {
  text-align: left;
}
h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.display-5 {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1.4rem;
}
.mbr-bold {
  font-weight: 700;
}

.display-6 {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1re
}
#index{
  margin-top: 8%;
}
#index a{
  text-decoration:none;
}